<!DOCTYPE html>
<html>
    <head>
        <title>Lift schedule for 1/31</title>
    </head>
    <body>

    <h3 style="text-align: center;">Workouts</h3>

    <table align="center" border="2" style="background-color: black;">
        <tr align="center" style="background-color: aliceblue;">
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>

        <tr align="center" style="background-color: aliceblue;">
            <td style="background-color: grey;"></td>
            <td style="background-color: grey;"></td>
            <td style="background-color: grey;"></td>
            <td style="background-color: grey;"></td>
            <td style="background-color: grey;"></td>
            <td><b>1. </b>Bench: 5x5 @ 155</td>
            <td><b>2. </b>Deadlift: 5x5 @ 205</td>
        </tr>
    
        <!-- Week 2 -->
        <tr align="center" style="background-color: aliceblue;">
            <td><b>3. </b>Squat: 5x5 @ 175</td>
            <td><b>4. </b>DeadLift: 5x5 @ 205</td>
            <td><b>5. </b>Bench: 5x5 @ 165</td>
            <td><b>6. </b>Squat: 5x5 @ 185</td>
            <td><b>7. </b>DeadLift: 5x5 @ 205</td>
            <td><b>8. </b>Bench: 5x5 @ 165</td>
            <td><b>9. </b>Run</td>
        </tr>
    
        <!-- Week 3 -->
        <tr align="center" style="background-color: aliceblue;">
            <td><b>10. </b>Squat: 5x5 @ 185</td>
            <td><b>11. </b>DeadLift: 5x5 @ 205</td>
            <td><b>12. </b>Bench: 5x5 @ 165</td>
            <td><b>13. </b>Squat: 5x5 @ 185</td>
            <td><b>14. </b>DeadLift: 5x5 @ 205</td>
            <td><b>15. </b>Bench: 5x5 @ 165</td>
            <td><b>16. </b>Run</td>
        </tr>
    
        <!-- Week 4 -->
        <tr align="center" style="background-color: aliceblue;">
            <td><b>17. </b>Squat: 5x5 @ 185</td>
            <td><b>18. </b>DeadLift: 5x5 @ 205</td>
            <td><b>19. </b>Bench: 5x5 @ 165</td>
            <td><b>20. </b>Squat: 5x5 @ 185</td>
            <td><b>21. </b>DeadLift: 5x5 @ 205</td>
            <td><b>22. </b>Bench: 5x5 @ 165</td>
            <td><b>23. </b>Run</td>
        </tr>
    
        <!-- Week 5 -->
        <tr align="center" style="background-color: aliceblue;">
            <td><b>24. </b>Squat: 5x5 @ 185</td>
            <td><b>25. </b>DeadLift: 5x5 @ 205</td>
            <td><b>26. </b>Bench: 5x5 @ 165</td>
            <td><b>27. </b>Squat: 5x8 @ 135</td>
            <td><b>28. </b>Rest</td>
            <td><b>29. D: 240 ; B: 190 ; S: 215</b></td>
            <td style="background-color: grey;"></td>
        </tr>

    </table>
    <a href='/'>
    <div>
        Back to Workouts
    </div>
    </a>
    </body>
</html>