<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2025 Lifting Schedule</title>
</head>
<body>
    <h1>Max Lift Schedule </h1>


    <a href="/"><h3>Back to Home</h3></a>
    <!-- Janurary -->
    <h2>Janurary</h2>
    <ul>
        <li>
            Bench: 185 √
        </li>
        <li>
            Squat: 205 √
        </li>
        <li>
            Deadlift: 225 √
        </li>
    </ul>

    <br><br>
    <!-- Feburary -->
    <h2>Feburary</h2>
    <ul>
        <li>
            Bench: 190 (+5)
        </li>
        <li>
            Squat: 215 (+10)
        </li>
        <li>
            Deadlift: 240 (+15)
        </li>
    </ul>
    <br><br>
    <!-- March -->
    <h2>March</h2>
    <ul>
        <li>
            Bench: 195 (+5)
        </li>
        <li>
            Squat: 225 (+10)
        </li>
        <li>
            Deadlift: 260 (+20)
        </li>
    </ul>

    <br><br>
    <!-- April -->
    <h2>April</h2>
    <ul>
        <li>
            Bench: 200 (+5)
        </li>
        <li>
            Squat: 235 (+10)
        </li>
        <li>
            Deadlift: 280 (+20)
        </li>
    </ul>

    <br><br>
    <!-- May -->
    <h2>May</h2>
    <ul>
        <li>
            Bench: 205 (+5)
        </li>
        <li>
            Squat: 245 (+10)
        </li>
        <li>
            Deadlift: 300 (+20)
        </li>
    </ul>

    <br><br>
    <!-- June -->
    <h2>June</h2>
    <ul>
        <li>
            Bench: 210 (+5)
        </li>
        <li>
            Squat: 255 (+10)
        </li>
        <li>
            Deadlift: 320 (+20)
        </li>
    </ul>

    <br><br>
    <!-- July -->
    <h2>July</h2>
    <ul>
        <li>
            Bench: 215 (+5)
        </li>
        <li>
            Squat: 265 (+10)
        </li>
        <li>
            Deadlift: 340 (+20)
        </li>
    </ul>

    <br><br>
    <!-- July -->
    <h2>August</h2>
    <ul>
        <li>
            Bench: 220 (+5)
        </li>
        <li>
            Squat: 275 (+10)
        </li>
        <li>
            Deadlift: 360 (+20)
        </li>
    </ul>

    <br><br>
    <!-- September -->
    <h2>September</h2>
    <ul>
        <li>
            Bench: 225 (+5)
        </li>
        <li>
            Squat: 285 (+10)
        </li>
        <li>
            Deadlift: 380 (+20)
        </li>
    </ul>


    <br><br>
    <!-- October -->
    <h2>October</h2>
    <ul>
        <li>
            Bench: 228 (+3)
        </li>
        <li>
            Squat: 295 (+10)
        </li>
        <li>
            Deadlift: 395 (+15)
        </li>
    </ul>

    <br><br>
    <!-- November -->
    <h2>November</h2>
    <ul>
        <li>
            Bench: 230 (+2)
        </li>
        <li>
            Squat: 305 (+10)
        </li>
        <li>
            Deadlift: 400 (+5)
        </li>
    </ul>

    <br><br>
    <!-- December -->
    <h2>December</h2>
    <ul>
        <li>
            Bench: 230
        </li>
        <li>
            Squat: 315 (+10)
        </li>
        <li>
            Deadlift: 405 (+5)
        </li>
    </ul>
</body>
</html>